#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_NIMBLE_VOICE
	bool "Nimble voice example"
	default n
	---help---
		Enable the Nimble voice example

if EXAMPLES_NIMBLE_VOICE

config EXAMPLES_NIMBLE_VOICE_PROGNAME
	string "Program name"
	default "nimble voice"
	---help---
		This is the name of the program that will be use when the NIMBLE VOICE ELF
		program is installed.

endif
