#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_NIMBLE_MESH
	bool "Nimble mesh example"
	default n
	---help---
		Enable the Nimble mesh example

if EXAMPLES_NIMBLE_MESH

config EXAMPLES_NIMBLE_MESH_PROGNAME
	string "Program name"
	default "nimble mesh"
	---help---
		This is the name of the program that will be use when the NIMBLE MESH ELF
		program is installed.

endif
